<head>
<div th:replace="header-footer/header :: myheader"></div>
</head>
<body>
	<div id="carouselExampleSlidesOnly" class="carousel slide"
		data-ride="carousel" data-pause="false">
		<div class="carousel-inner">
			<div class="carousel-item cover active">
				<div id="image1"></div>
			</div>
			<div id="image2" class="carousel-item cover "></div>
			<div id="image3" class="carousel-item cover "></div>
			<div id="image4" class="carousel-item cover"></div>
		</div>
	</div>

	<!--****************************PAY ONLINE OR OFFLINE********************************** -->
	<div class="card text-center">
		<div class="card-header">DONATE ONLINE OR OFFLINE</div>
		<div class="card-body">
			<h2 class="card-title">JANATA BANK LTD.</h2>
			<h4>BEKER BAZAR BRANCH.</h4>
			<h5>ACCOUNT NO: 072034028551</h5>
			<p class="card-text">
				Charity does not in any way decrease the wealth and the servant who
				forgives, Allah adds to his respect &nbsp; <i>(Muhammad SM)</i>.
			</p>
			<a
				href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=CGU5S24Y44ENG"
				class="btn btn-primary">PAYPAL</a>
		</div>
	</div>
	<BR>
	<!--****************************MOSQUES FEATURE********************************** -->
	<h3>FEATURES</h3>
	<hr>
	<div class="card-container">
		<div class="card-deck">
			<div class="card">
				<img
					th:src="@{https://res.cloudinary.com/nuist/image/upload/v1598588024/Converted-pic/IMG_3191_rlqgfy.webp}"
					class="card-img-top image-size" alt="...">
				<div class="card-body">
					<h5 class="card-title">MEHRAB</h5>
				</div>
			</div>
			<div class="card">
				<img
					th:src="@{https://res.cloudinary.com/nuist/image/upload/v1598588025/Converted-pic/IMG_3194_znolr7.webp}"
					class="card-img-top image-size" alt="...">
				<div class="card-body">
					<h5 class="card-title">INSIDE LOOK</h5>
				</div>
			</div>
			<div class="card">
				<img
					th:src="@{https://res.cloudinary.com/nuist/image/upload/v1598588025/Converted-pic/IMG_3197_apmxdg.webp}"
					class="card-img-top image-size" alt="...">
				<div class="card-body">
					<h5 class="card-title">INSIDE LOOK</h5>
				</div>
			</div>
			<div class="card">
				<img
					th:src="@{https://res.cloudinary.com/nuist/image/upload/a_90/v1598588024/Converted-pic/IMG_3201_z4zqrm.webp}"
					class="card-img-top image-size" alt="...">
				<div class="card-body">
					<h5 class="card-title">ANALOG TIMER</h5>
				</div>
			</div>
		</div>
		<div class="card-deck">
			<div class="card">
				<img
					th:src="@{https://res.cloudinary.com/nuist/image/upload/v1598588026/Converted-pic/IMG_3214_iohhul.webp}"
					class="card-img-top image-size" alt="...">
				<div class="card-body">
					<h5 class="card-title">FLOOR TILES</h5>
				</div>
			</div>
			<div class="card">
				<img
					th:src="@{https://res.cloudinary.com/nuist/image/upload/a_90/v1598588026/Converted-pic/IMG_3215_heex5w.webp}"
					class="card-img-top image-size" alt="...">
				<div class="card-body">
					<h5 class="card-title">ELECTRIC SWITCH</h5>
				</div>
			</div>
			<div class="card">
				<img
					th:src="@{https://res.cloudinary.com/nuist/image/upload/v1598588026/Converted-pic/IMG_3218_ycttjg.webp}"
					class="card-img-top image-size" alt="...">
				<div class="card-body">
					<h5 class="card-title">CEILING FAN</h5>
				</div>
			</div>
			<div class="card">
				<img
					th:src="@{https://res.cloudinary.com/nuist/image/upload/a_90/v1598588027/Converted-pic/IMG_3219_dw9cys.webp}"
					class="card-img-top image-size" alt="...">
				<div class="card-body">
					<h5 class="card-title">AL-KURAN IN THE SELF</h5>
				</div>
			</div>
		</div>
		<div class="card-deck">
			<div class="card">
				<img
					th:src="@{https://res.cloudinary.com/nuist/image/upload/v1598588028/Converted-pic/IMG_3226_zhtvms.webp}"
					class="card-img-top image-size" alt="...">
				<div class="card-body">
					<h5 class="card-title">SOUTH OUTLOOK</h5>
				</div>
			</div>
			<div class="card">
				<img
					th:src="@{https://res.cloudinary.com/nuist/image/upload/v1598588028/Converted-pic/IMG_3229_feeqhh.webp}"
					class="card-img-top image-size" alt="...">
				<div class="card-body">
					<h5 class="card-title">NORTH OUTLOOK</h5>
				</div>
			</div>
			<div class="card">
				<img
					th:src="@{https://res.cloudinary.com/nuist/image/upload/v1598588025/Converted-pic/IMG_3194_znolr7.webp}"
					class="card-img-top image-size" alt="...">
				<div class="card-body">
					<h5 class="card-title">LOOK INSIDE</h5>
				</div>
			</div>
			<div class="card">
				<img
					th:src="@{https://res.cloudinary.com/nuist/image/upload/v1598588028/Converted-pic/IMG_3226_zhtvms.webp}"
					class="card-img-top image-size" alt="...">
				<div class="card-body">
					<h5 class="card-title">SOUTH LOOK</h5>
				</div>
			</div>
		</div>
		<div class="card-deck">
			<div class="card">
				<img
					th:src="@{https://res.cloudinary.com/nuist/image/upload/a_90/v1598588024/Converted-pic/IMG_3203_gzcgal.webp}"
					class="card-img-top image-size" alt="...">
				<div class="card-body">
					<h5 class="card-title">MIMBAR</h5>
				</div>
			</div>
			<div class="card">
				<img
					th:src="@{https://res.cloudinary.com/nuist/image/upload/v1598588025/Converted-pic/IMG_3210_qaasnk.webp}"
					class="card-img-top image-size" alt="...">
				<div class="card-body">
					<h5 class="card-title">WASH ROOM</h5>
				</div>
			</div>
			<div class="card">
				<img
					th:src="@{https://res.cloudinary.com/nuist/image/upload/v1598588029/Converted-pic/IMG_3211_kxcnow.webp}"
					class="card-img-top image-size" alt="...">
				<div class="card-body">
					<h5 class="card-title">WASH ROOM</h5>
				</div>
			</div>
			<div class="card">
				<img
					th:src="@{https://res.cloudinary.com/nuist/image/upload/v1598588026/Converted-pic/IMG_3214_iohhul.webp}"
					class="card-img-top image-size" alt="...">
				<div class="card-body">
					<h5 class="card-title">TILES IN THE WALL</h5>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<!---------------------------- Pictures during construction------------------------------->
	<h3>PICTURES DURING CONSTRUCTION</h3>
	<hr>
	<div class="card-deck">
		<div class="card">
			<img
				th:src="@{https://res.cloudinary.com/nuist/image/upload/v1598589710/Construction-Webp/three_qyk7hz.webp}"
				class="card-img-top image-size" alt="...">
		</div>
		<div class="card">
			<img
				th:src="@{https://res.cloudinary.com/nuist/image/upload/v1598589709/Construction-Webp/six_nipfoo.webp}"
				class="card-img-top image-size" alt="...">
		</div>
	</div>
	&emsp;
	<div class="card-deck">
		<div class="card">
			<img
				th:src="@{https://res.cloudinary.com/nuist/image/upload/v1598589709/Construction-Webp/two_phosks.webp}"
				class="card-img-top image-size" alt="...">
		</div>
		<div class="card">
			<img
				th:src="@{https://res.cloudinary.com/nuist/image/upload/v1598589708/Construction-Webp/five_kdk0fu.webp}"
				class="card-img-top image-size" alt="...">
		</div>
		<div class="card">
			<img
				th:src="@{https://res.cloudinary.com/nuist/image/upload/v1598589710/Construction-Webp/one_tzhu8k.webp}"
				class="card-img-top image-size" alt="...">
		</div>
		<div class="card">
			<img
				th:src="@{https://res.cloudinary.com/nuist/image/upload/v1598589708/Construction-Webp/four_flxmgr.webp}"
				class="card-img-top image-size" alt="...">
		</div>
	</div>
</body>
<footer>
	<div th:replace="header-footer/footer :: myfooter"></div>
</footer>
</html>