<head>
<div th:replace="header-footer/header :: myheader"></div>
</head>
<body>
	<div id="carouselExampleSlidesOnly" class="carousel slide"
		data-ride="carousel"  data-pause="false">
		<div class="carousel-inner">
			<div class="carousel-item cover active">
			<div id="image1" ></div>
				<!-- <img th:src="@{/images/261005.jpg}" class="d-block w-100 active"
					alt="IMAGE 1"> -->
			</div>
			 <div id="image2"  class="carousel-item cover ">
				<!-- <img th:src="@{/images/261009.jpg}" class="d-block w-100 active"
					alt="IMAGE 2"> -->
			</div>
			<div id="image3" class="carousel-item cover ">
				<!-- <img th:src="@{/images/261014.jpg}" class="d-block w-100 active"
					alt="IMAGE 3"> -->
			</div>
			<div id="image4" class="carousel-item cover">
				<!-- <img th:src="@{/images/261024.jpg}" class="d-block w-100"
					alt="IMAGE 4"> -->
			</div> 
		</div>
	</div>

	<!--****************************PAY ONLINE OR OFFLINE********************************** -->
	<div class="card text-center">
		<div class="card-header">DONATE ONLINE OR OFFLINE</div>
		<div class="card-body">
			<h2 class="card-title">JANATA BANK LTD.</h2>
			<h4>BEKER BAZAR BRANCH.</h4>
				<h5>ACCOUNT NO: 072034028551</h5>
			<p class="card-text">Charity does not in any way decrease the wealth and the servant who
				forgives, Allah adds to his respect &nbsp; <i>(Muhammad SM)</i>.</p>
			<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=CGU5S24Y44ENG"
				class="btn btn-primary">PAYPAL</a>
		</div>
	</div>
	<BR>
	<!--****************************MOSQUES FEATURE********************************** -->
	<h3>FEATURES</h3>
	<hr>
	<div class="card-container">
		<div class="card-deck">
			<div class="card">
				<img th:src="@{/images/features/IMG_3190.jpg}" class="card-img-top image-size"
					alt="...">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">This is a longer card with supporting text
						below as a natural lead-in to additional content. This content is
						a little bit longer.</p>
					<p class="card-text">
						<small class="text-muted">Last updated 3 mins ago</small>
					</p>
				</div>
			</div>
			<div class="card">
				<img th:src="@{/images/b.jpg}" class="card-img-top image-size"
					alt="...">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">This card has supporting text below as a
						natural lead-in to additional content.</p>
					<p class="card-text">
						<small class="text-muted">Last updated 3 mins ago</small>
					</p>
				</div>
			</div>
			<div class="card">
				<img th:src="@{/images/b.jpg}" class="card-img-top image-size"
					alt="...">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">This card has supporting text below as a
						natural lead-in to additional content.</p>
					<p class="card-text">
						<small class="text-muted">Last updated 3 mins ago</small>
					</p>
				</div>
			</div>
			<div class="card">
				<img th:src="@{/images/c.jpg}" class="card-img-top image-size"
					alt="...">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">This is a wider card with supporting text
						below as a natural lead-in to additional content. This card has
						even longer content than the first to show that equal height
						action.</p>
					<p class="card-text">
						<small class="text-muted">Last updated 3 mins ago</small>
					</p>
				</div>
			</div>
		</div>
		<div class="card-deck">
			<div class="card">
				<img th:src="@{/images/a.jpg}" class="card-img-top image-size"
					alt="...">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">This is a longer card with supporting text
						below as a natural lead-in to additional content. This content is
						a little bit longer.</p>
					<p class="card-text">
						<small class="text-muted">Last updated 3 mins ago</small>
					</p>
				</div>
			</div>
			<div class="card">
				<img th:src="@{/images/b.jpg}" class="card-img-top image-size"
					alt="...">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">This card has supporting text below as a
						natural lead-in to additional content.</p>
					<p class="card-text">
						<small class="text-muted">Last updated 3 mins ago</small>
					</p>
				</div>
			</div>
			<div class="card">
				<img th:src="@{/images/b.jpg}" class="card-img-top image-size"
					alt="...">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">This card has supporting text below as a
						natural lead-in to additional content.</p>
					<p class="card-text">
						<small class="text-muted">Last updated 3 mins ago</small>
					</p>
				</div>
			</div>
			<div class="card">
				<img th:src="@{/images/c.jpg}" class="card-img-top image-size"
					alt="...">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">This is a wider card with supporting text
						below as a natural lead-in to additional content. This card has
						even longer content than the first to show that equal height
						action.</p>
					<p class="card-text">
						<small class="text-muted">Last updated 3 mins ago</small>
					</p>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<!---------------------------- Pictures during construction------------------------------->
	<h3>PICTURES DURING CONSTRUCTION</h3>
	<hr>
	<div class="card-deck">
	<div class="card">
				<img th:src="@{/images/construction/one.png}" class="card-img-top image-size"
					alt="...">				
			</div>
			<div class="card">
				<img th:src="@{/images/construction/two.png}" class="card-img-top image-size"
					alt="...">				
			</div>
			
	</div>
	&emsp;
		<div class="card-deck">
	<div class="card">
				<img th:src="@{/images/construction/five.png}" class="card-img-top image-size"
					alt="...">				
			</div>
			<div class="card">
				<img th:src="@{/images/construction/six.png}" class="card-img-top image-size"
					alt="...">				
			</div>
			<div class="card">
				<img th:src="@{/images/construction/three.png}" class="card-img-top image-size"
					alt="...">				
			</div>
		<div class="card">
			<img th:src="@{/images/construction/four.png}" class="card-img-top image-size"
				alt="...">
		</div>
		
	</div>
</body>
<footer>
	<div th:replace="header-footer/footer :: myfooter"></div>
</footer>

</html>