<div th:replace="header-footer/header :: myheader"></div>
<head>
<title>Admin panel</title>
</head>
<body>
	<div class="adminlist">
		<div>
			<h3>&nbsp;ADMIN PANEL</h3>
			<a th:href="@{/mosque/combineReport}">Report</a>
		</div>

		<br>
		<div class="container adminPanel">
			<hr>
			<div class="row">
				<div class="col-md-12 listofall">
					<a th:href="@{/mosque/list}">LIST OF ALL</a>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-6">
					<a class="btn btn-info btn-lg" th:href="@{/mosque/addCredit}">CREDIT
						HEAD </a>
				</div>
				<div class="col-md-6">
					<a class="btn btn-info btn-lg" th:href="@{/mosque/addDebit}">DEBIT
						HEAD </a>
				</div>
			</div>
			<hr>

			<div class="row">
				<div class="col-md-6">
					<a th:href="@{/mosque/landSale}">LAND SALE</a>
				</div>
				<div class="col-md-6">
					<a th:href="@{/mosque/honor}">HONORS</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<a th:href="@{/mosque/tarawihExtra}">TARAWIH EXTRA</a>
				</div>
				<div class="col-md-6">
					<a th:href="@{/mosque/mobileBill}">MOBILE BILL</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<a th:href="@{/mosque/bankWithdrawn}">BANK WITHDRAWN</a>
				</div>
				<div class="col-md-6">
					<a th:href="@{/mosque/travelCost}">TRAVEL COSTS</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<a th:href="@{/mosque/personDonation}">PERSON DONATION</a>
				</div>
				<div class="col-md-6">
					<a th:href="@{/mosque/generalWage}">GENERAL WAGE</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<a th:href="@{/mosque/social}">SOCIAL COLLECTION</a>
				</div>
				<div class="col-md-6">
					<a th:href="@{/mosque/loanPayment}">LOAN PAYMENT</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<a th:href="@{/mosque/other}">OTHERS COLLECTION</a>
				</div>
				<div class="col-md-6">
					<a th:href="@{/mosque/electricityBill}">ELECTRICITY BILL</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<a c th:href="@{/mosque/orgDonation}">ORGANIZATION DONATION</a>
				</div>
				<div class="col-md-6">
					<a th:href="@{/mosque/fuelConsumption}">FUEL CONSUMPTION</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<a th:href="@{/mosque/specialFitrCollection}">SPECIAL
						COLLECTION OF FITR</a>
				</div>
				<div class="col-md-6">
					<a th:href="@{/mosque/constructorWage}">CONSTRUCTOR WAGE</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<a th:href="@{/mosque/specialAdhaCollection}">SPECIAL
						COLLECTION OF ADHA</a>
				</div>
				<div class="col-md-6">
					<a th:href="@{/mosque/paintConsumption}">PAINT CONSUMPTION</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<a th:href="@{/mosque/unnecessaryEquipmentSale}">UNNECESSARY
						EQUIPMENT SALE</a>
				</div>
				<div class="col-md-6">
					<a th:href="@{/mosque/electricEquipment}">ELECTRIC EQUIPMENT</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<a th:href="@{/mosque/collectionJummah}">RETAIL COLLECTION OF
						JUMMAH</a>
				</div>
				<div class="col-md-6">
					<a th:href="@{/mosque/purchaseMeterials}">PURCHASE METERIALS</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<a th:href="@{/mosque/specialJummahCollection}">SPECIAL
						COLLECTION OF JUMMAH</a>
				</div>
				<div class="col-md-6">
					<a th:href="@{/mosque/miscillaneousCosts}">MISCILLANEOUS COSTS</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<a th:href="@{/mosque/specialJummahCollection}"></a>
				</div>
				<div class="col-md-6">
					<a th:href="@{/mosque/repair}">REPAIR & MAINTENANCE</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<a th:href="@{/mosque/specialJummahCollection}"></a>
				</div>
				<div class="col-md-6">
					<a th:href="@{/mosque/furniture}">PURCHASE OF FURNITURE</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<a th:href="@{/mosque/specialJummahCollection}"></a>
				</div>
				<div class="col-md-6">
					<a th:href="@{/mosque/entertainmentCons}">ENTERTAINMENT CONSUMPTION</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<a th:href="@{/mosque/specialJummahCollection}"></a>
				</div>
				<div class="col-md-6">
					<a th:href="@{/mosque/transportation}">TRANSPORTATION CONSUMPTION
</a>
				</div>
			</div>
		</div>
		<br>
	</div>
</body>
<footer>
	<div th:replace="header-footer/footer :: myfooter"></div>
</footer>
</html>