<head>
<div th:replace="header-footer/header :: myheader"></div>
</head>
<!-- ***********************************************NEW BOOTSTRAP ADD FORM****************************************-->
<body>
	<div class="adduserform">
		<br>
		<h3>DEBIT HEAD</h3>
		<hr>
		<br>
		<form action="#" th:action="@{/mosque/save}" th:object="${theMosque}"
			method="POST">
			<div class="form-row">
				<div class="form-group col-md-9">
					<!-- <input type="email" class="form-control" id="inputEmail4"> -->
					<label for="inputEmail4">COLLECTION HEAD</label> <select
						id="inputState" class="form-control" th:field="*{trade_head}">
						<option th:value="'NONE'" th:text="'NONE'"></option>
						<option th:value="'HONORS'" th:text="'HONORS'"></option>
						<option th:value="'MOBILE BILL'" th:text="'MOBILE BILL'"></option>
						<option th:value="'TRAVEL COSTS'" th:text="'TRAVEL COSTS'"></option>
						<option th:value="'GENERAL WAGE'" th:text="'GENERAL WAGE'"></option>
						<option th:value="'LOAN PAYMENT'" th:text="'LOAN PAYMENT'"></option>
						<option th:value="'ELECTRICITY BILL'" th:text="'ELECTRICITY BILL'"></option>
						<option th:value="'FUEL CONSUMPTION'" th:text="'FUEL CONSUMPTION'"></option>
						<option th:value="'CONSTRUCTOR WAGE'" th:text="'CONSTRUCTOR WAGE'"></option>
						<option th:value="'PAINT CONSUMPTION'"
							th:text="'PAINT CONSUMPTION'"></option>
						<option th:value="'ELECTRIC EQUIPMENT'"
							th:text="'ELECTRIC EQUIPMENT'"></option>
						<option th:value="'PURCHASE METERIALS'"
							th:text="'PURCHASE METERIALS'"></option>
						<option th:value="'MISCILLANEOUS COSTS'"
							th:text="'MISCILLANEOUS COSTS'"></option>
						<option th:value="'REPAIR & MAINTENANCE'"
							th:text="'REPAIR & MAINTENANCE'"></option>
						<option th:value="'PURCHASE OF FURNITURE'"
							th:text="'PURCHASE OF FURNITURE'"></option>
						<option th:value="'ENTERTAINMENT CONSUMPTION'"
							th:text="'ENTERTAINMENT CONSUMPTION'"></option>
						<option th:value="'TRANSPORTATION CONSUMPTION'"
							th:text="'TRANSPORTATION CONSUMPTION
'"></option>
					</select>
				</div>
				<!-- --------------------------------- WAY OF PAYMENT ------------------------->
				<div class="form-group col-md-3">
					<label for="wayofpayment">WAY OF PAYMENT</label> <select
						class="form-control" id="wayofpayment" th:field="*{wop}">
						<option th:value="'NONE'" th:text="'NONE'"></option>
						<option th:value="'CHEQUE'" th:text="'CHEQUE'"></option>
						<option th:value="'CASH'" th:text="'CASH'"></option>
					</select>
				</div>
				<!-- --------------------------------- NAME INPUT ---------------------------->
				<div class="form-group col-md-12">
					<label for="name">NAME</label> <input id="name"
						class="form-control" type="text" th:field="*{name}"
						placeholder="Name" required="required" />
				</div>
				<!-- --------------------------------- AMOUNT ---------------------------->

				<div class="form-group col-md-6">
					<label for="debit_amount">AMOUNT</label> <input ID="debit_amount"
						class="form-control" type="text" th:field="*{debit_amount}"
						placeholder="Amount" required="required" />
				</div>
				<!-- --------------------------------- YEAR OF TRADE --------------------->
				<div class="form-group col-md-6">
					<label for="date">DATE</label> <input id="date"
						class="form-control" type="text" th:field="*{yot}"
						placeholder="DD/MM/YYYY" required="required" />
				</div>
				<!-- --------------------------------- ADDRESS --------------------------->
				<div class="form-group col-md-12">
					<label for="address">ADDRESS</label> <input id="address"
						class="form-control" type="text" th:field="*{address}"
						placeholder="Address" required="required" />
				</div>
				<!-- --------------------------------- TRADE BY --------------------------->
				<div class="form-group col-md-12">
					<label for="trade_by">TRADE BY</label> <input id="trade_by"
						class="form-control" type="text" th:field="*{trade_by}"
						placeholder="Trade By" required="required" />
				</div>

				<!-- ENDING DIV -->
			</div>
			<!-- ENDING DIV -->
			<!-- <button type="submit" class="btn btn-primary">Sign in</button> -->
			<input type="submit" value="Save"
				onclick="if(!(confirm('Are you sure?'))) return false"
				class="btn btn-info btn-lg	" />
		</form>
	</div>
</body>
<footer>
	<div th:replace="header-footer/footer :: myfooter"></div>
</footer>
</html>