<div th:replace="header-footer/header :: myheader"></div>
<body>
	<div>
		<div class="userlist">
			<div class="combinelist">
				<div>
					<h3>COMBINED REPORT OF INCOME AND EXP.</h3>
				</div>
				<br>
				<div style="overflow-x: auto;">
					<div>
						<form action="/mosque/combine-report">
							<input type="text" Placeholder="Search" name="keyword" /> <input
								type="submit" value="Search" />
						</form>
					</div>
					<table class="table table-bordered table-striped">
						<thead class="thead-dark">
							<tr>
								<th>NAME</th>
								<th>ADDRESS</th>
								<th>CREDIT/DEBIT HEAD</th>
								<th>AMOUNT</th>
								<th>PAYMENT GATEWAY</th>
								<th>DATE</th>
								<th>TRADE BY</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="tempList : ${listforuser}">
								<td th:text="${tempList.name}"></td>
								<td th:text="${tempList.address}"></td>
								<td th:text="${tempList.trade_head}"></td>
								<td th:text="${tempList.amount}"></td>
								<td th:text="${tempList.wop}"></td>
								<td th:text="${tempList.yot}"></td>
								<td th:text="${tempList.trade_by}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
<footer>
	<div th:replace="header-footer/footer :: myfooter"></div>
</footer>
</html>