<div th:replace="header-footer/header :: myheader"></div>
<div class="contributor">
	<div class="card mb-3 total-box">
	<br>
		<h3>&emsp;MOSQUE LEADER</h3>
		<hr>
		<div class="row no-gutters contributor-box">
			<div class="col-md-4">
				<img th:src="@{https://res.cloudinary.com/nuist/image/upload/v1598681215/Leader/IMG_3252_dmxkut.jpg}" class="card-img cardImage" alt="...">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h5 class="card-title">MOWLANA OBAYDUL HOQUE</h5>
					<h6>KHATIB</h6>
					<H6> 2011 - CURRENT </H6>
						<p><a href="#"><i class="fa fa-facebook"></i></a>&emsp;
								<a href="#"><i class="fa fa-instagram"></i></a>&emsp;
								<a href="#"><i class="fa fa-twitter"></i></a></p>
				</div>
			</div>
		</div>
	</div>

	<div class="card mb-3 total-box">
		<div class="row no-gutters contributor-box">
			<div class="col-md-4">
				<img th:src="@{https://res.cloudinary.com/nuist/image/upload/v1598681216/Leader/IMG_3253_aky3uk.jpg}" class="card-img cardImage" alt="...">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h5 class="card-title">HAFEZ MD SAIDUL ISLAM BHUIYAN</h5>
					<h6>IMAM</h6>
					<H6> 2013 - CURRENT </H6>				
						<p><a href="#"><i class="fa fa-facebook"></i></a>&emsp;
								<a href="#"><i class="fa fa-instagram"></i></a>&emsp;
								<a href="#"><i class="fa fa-twitter"></i></a></p>
				</div>
			</div>
		</div>
	</div>
	<div class="card mb-3 total-box">
		<div class="row no-gutters contributor-box">
			<div class="col-md-4">
				<img th:src="@{/images/contributor/man.jpeg}" class="card-img cardImage" alt="...">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h5 class="card-title">HON.CAPT (RETD.) HAZI ABU BAKAR SIDDIQUE
					</h5>
					<h6>PRESIDENT</h6>
					<H6> 2008 - CURRENT </H6>				
						<p><a href="#"><i class="fa fa-facebook"></i></a>&emsp;
								<a href="#"><i class="fa fa-instagram"></i></a>&emsp;
								<a href="#"><i class="fa fa-twitter"></i></a></p>
				</div>
			</div>
		</div>
	</div>
	<div class="card mb-3 total-box">
		<div class="row no-gutters contributor-box">
			<div class="col-md-4">
				<img th:src="@{https://res.cloudinary.com/nuist/image/upload/v1598681215/Leader/IMG_3248_ticzij.jpg}" class="card-img cardImage" alt="...">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h5 class="card-title">MR. ABUL KASHEM</h5>
					<h6>GENERAL SECRETARY</h6>					
						<p><a href="#"><i class="fa fa-facebook"></i></a>&emsp;
								<a href="#"><i class="fa fa-instagram"></i></a>&emsp;
								<a href="#"><i class="fa fa-twitter"></i></a></p>
				</div>
			</div>
		</div>
	</div>
	<div class="card mb-3 total-box">
		<div class="row no-gutters contributor-box">
			<div class="col-md-4">
				<img th:src="@{https://res.cloudinary.com/nuist/image/upload/v1598681215/Leader/IMG_3249_q08iyb.jpg}" class="card-img cardImage" alt="...">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h5 class="card-title">MR. ZAFAR AHAMMED PATWARY</h5>
					<h6>CASHIER</h6>				
						<p><a href="#"><i class="fa fa-facebook"></i></a>&emsp;
								<a href="#"><i class="fa fa-instagram"></i></a>&emsp;
								<a href="#"><i class="fa fa-twitter"></i></a></p>
				</div>
			</div>
		</div>
	</div>
	<div class="card mb-3 total-box">
		<div class="row no-gutters contributor-box">
			<div class="col-md-4">
				<img th:src="@{https://res.cloudinary.com/nuist/image/upload/v1598681216/Leader/IMG_3255_vdihv9.jpg}" class="card-img cardImage" alt="...">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h5 class="card-title">MD. SHAHJAHAN</h5>
					<h6>MEMBER</h6>				
						<p><a href="#"><i class="fa fa-facebook"></i></a>&emsp;
								<a href="#"><i class="fa fa-instagram"></i></a>&emsp;
								<a href="#"><i class="fa fa-twitter"></i></a></p>
				</div>
			</div>
		</div>
	</div>
	<div class="card mb-3 total-box">
		<div class="row no-gutters contributor-box">
			<div class="col-md-4">
				<img th:src="@{https://res.cloudinary.com/nuist/image/upload/v1598681216/Leader/IMG_3259_f8myjp.jpg}" class="card-img cardImage" alt="...">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h5 class="card-title">MOHAMMED JANE ALAM</h5>
					<h6>MEMBER</h6>			
						<p><a href="#"><i class="fa fa-facebook"></i></a>&emsp;
								<a href="#"><i class="fa fa-instagram"></i></a>&emsp;
								<a href="#"><i class="fa fa-twitter"></i></a></p>
				</div>
			</div>
		</div>
	</div>
	<div class="card mb-3 total-box">
		<div class="row no-gutters contributor-box">
			<div class="col-md-4">
				<img th:src="@{/images/contributor/man.jpeg}" class="card-img cardImage" alt="...">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h5 class="card-title">MR. GOLAM BELAL</h5>
					<h6>PRESIDENT (DEV. COMMITTEE)</h6>
					<H6> 2016 - CURRENT </H6>					
						<p><a href="#"><i class="fa fa-facebook"></i></a>&emsp;
								<a href="#"><i class="fa fa-instagram"></i></a>&emsp;
								<a href="#"><i class="fa fa-twitter"></i></a></p>
				</div>
			</div>
		</div>
	</div>
	<BR>
	<HR>
	
	<!-- ***************************************CARD CONTAINER FORMER CONTRIBUTOR************************* -->
	
		<div class="card-container">
		<h3>FORMER CONTRIBUTOR</h3>
		<div class="card-deck">
			<div class="card">
				<img th:src="@{/images/contributor/man.jpeg}" class="card-img-top image-size" alt="...">
				<div class="card-body">
					<h5 class="card-title">AMIR HOSSAIN PATWARY</h5>					
				</div>
			</div>
			<div class="card">
				<img th:src="@{https://res.cloudinary.com/nuist/image/upload/v1598681215/Leader/IMG_3249_q08iyb.jpg}" class="card-img-top image-size" alt="...">
				<div class="card-body">
					<h5 class="card-title">ZAFAR AHMMED PATWARY</h5>		
				</div>
			</div>
			<div class="card">
				<img th:src="@{/images/contributor/man.jpeg}" class="card-img-top image-size" alt="...">
				<div class="card-body">
					<h5 class="card-title">LATE. SAFI ULLAH</h5>
				</div>
			</div>			
			<div class="card">
				<img th:src="@{/images/contributor/man.jpeg}" class="card-img-top image-size" alt="...">
				<div class="card-body">
					<h5 class="card-title">LATE. SHARIAT ULLAH</h5>
				</div>
			</div>
		</div>
				<div class="card-deck">
			<div class="card">
				<img th:src="@{/images/contributor/man.jpeg}" class="card-img-top image-size" alt="...">
				<div class="card-body">
					<h5 class="card-title">LATE. KARIM ULLAH</h5>
				</div>
			</div>
			<div class="card">
				<img th:src="@{/images/contributor/man.jpeg}" class="card-img-top image-size" alt="...">
				<div class="card-body">
					<h5 class="card-title">A.N.M FAKHRUL ALAM MIA</h5>
				</div>
			</div>
			<div class="card">
				<img th:src="@{/images/contributor/women.jpg}" class="card-img-top image-size" alt="...">
				<div class="card-body">
					<h5 class="card-title">BEGUM HOSNE ARA HOQUE</h5>
				</div>
			</div>			
			<div class="card">
				<img th:src="@{/images/contributor/women.jpg}" class="card-img-top image-size" alt="...">
				<div class="card-body">
					<h5 class="card-title">BEGUM ROWSHAN ARA</h5>
				</div>
			</div>
			</div>
			<div class="card-deck">
				<div class="card">
				<img th:src="@{/images/contributor/man.jpeg}" class="card-img-top image-size" alt="...">
				<div class="card-body">
					<h5 class="card-title">LATE. MOBAROK ALI</h5>
				</div>
			</div>	<div class="card">
				<img th:src="@{/images/contributor/man.jpeg}" class="card-img-top image-size" alt="...">
				<div class="card-body">
					<h5 class="card-title">LATE. ABDUR RASHID</h5>
				</div>
			</div>	<div class="card">
				<img th:src="@{/images/contributor/man.jpeg}" class="card-img-top image-size" alt="...">
				<div class="card-body">
					<h5 class="card-title">SERAJUL HOQUE</h5>
				</div>
			</div>	<div class="card">
				<img th:src="@{/images/contributor/man.jpeg}" class="card-img-top image-size" alt="...">
				<div class="card-body">
					<h5 class="card-title">LATE HAZI AHSAN ULLAH</h5>
				</div>
				</div>
			</div>
			<div class="card-deck">
				<div class="card">
				<img th:src="@{/images/contributor/man.jpeg}" class="card-img-top image-size" alt="...">
				<div class="card-body">
					<h5 class="card-title">TOBAROK ULLAH</h5>
				</div>
			</div>	<div class="card">
				<img th:src="@{/images/contributor/man.jpeg}" class="card-img-top image-size" alt="...">
				<div class="card-body">
					<h5 class="card-title">LATE. ABU SUFIAN (BADIR)</h5>
				</div>
			</div>	<div class="card">
				<img th:src="@{/images/contributor/man.jpeg}" class="card-img-top image-size" alt="...">
				<div class="card-body">
					<h5 class="card-title">HAFEZ KHABIR AHMMED</h5>
				</div>
			</div>	<div class="card">
				<img th:src="@{/images/contributor/women.jpg}" class="card-img-top image-size" alt="...">
				<div class="card-body">
					<h5 class="card-title">MRS. JOBEDA KHANOM</h5>
<!-- 					<p class="card-text">This is a wider card with supporting text
						below as a natural lead-in to additional content. This card has
						even longer content than the first to show that equal height
						action.</p> -->
				</div>
			</div>
		</div>
	</div>
	<footer>
	<div th:replace="header-footer/footer :: myfooter"></div>
</footer>