<div th:replace="header-footer/header :: myheader"></div>
<div class="aboutContainer">
	<div class="about">
		&emsp;
		<h3>About</h3>
		<hr>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
			sed porttitor eros. Nulla vitae bibendum magna. Etiam justo lacus,
			efficitur vel blandit at, malesuada ac ipsum. Nulla mattis quis est
			non consequat. Nullam accumsan elit vel diam consequat faucibus.
			Aenean sit amet ex lectus. Duis rhoncus sed velit sit amet accumsan.
			Etiam mollis nec felis vitae sollicitudin. Cras erat tortor, volutpat
			id ullamcorper ac, facilisis ut ipsum. Integer id tellus luctus,
			iaculis lectus eu, lobortis sapien. Maecenas enim nunc, gravida non
			eros ut, facilisis vestibulum felis. Curabitur non felis varius,
			vehicula ante eget, consequat enim. Pellentesque in luctus quam, ut
			auctor magna. Aenean blandit eu lacus et vehicula. Sed aliquet ac
			turpis nec varius. Sed suscipit congue tortor a vulputate. Cras
			rutrum eros sit amet enim tempor, eu rutrum neque efficitur.
			Vestibulum ac turpis eu ex lobortis vulputate. Lorem ipsum dolor sit
			amet, consectetur adipiscing elit. Vestibulum pretium nunc in
			vulputate congue. Pellentesque scelerisque ante eget tortor sagittis,
			eu pretium mi fermentum. Phasellus a leo vitae orci laoreet rutrum id
			at magna. Proin sagittis ligula vel est tincidunt volutpat vitae
			lacinia tortor. Cras in pellentesque nulla. In vitae ex ullamcorper,
			egestas augue eu, efficitur lacus. Praesent vulputate luctus lorem
			vel viverra. Suspendisse gravida quam nibh. Duis molestie nisl eu est
			faucibus, posuere porttitor augue congue. Duis at ipsum eu magna
			scelerisque malesuada. Nulla facilisi. Maecenas interdum ante sed
			justo lobortis blandit. Nunc viverra efficitur magna, eu vestibulum
			ante pellentesque in. Vivamus eget lacus vulputate, commodo mauris
			non, semper mi. Aliquam vel sagittis diam, id finibus turpis.
			Phasellus eget diam velit. In hac habitasse platea dictumst. Aenean
			sit amet maximus velit. Etiam nec tincidunt tortor, vel eleifend
			ligula. Suspendisse elit neque, tristique sit amet eros sed, ornare
			tristique lacus. Praesent dictum, orci accumsan facilisis sodales,
			arcu justo venenatis eros, eget venenatis dolor dolor non metus.
			Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam
			ac vehicula magna. Donec sed placerat elit, at fermentum arcu.
			Integer at magna pellentesque, vehicula felis at, commodo magna.
			Donec laoreet dolor at dolor viverra dapibus. Integer quis molestie
			massa. In pellentesque nec eros molestie tempor. Donec rhoncus rutrum
			sapien, et iaculis odio sollicitudin id. Etiam mi magna, blandit a
			eros hendrerit, lacinia convallis nibh. Donec ut tellus massa. Morbi
			a luctus lacus, ac ultrices magna. Maecenas rhoncus vestibulum tellus
			sed ullamcorper. Proin at magna vel lorem gravida vehicula consequat
			vel est. Donec semper vitae purus et tempus. Interdum et malesuada
			fames ac ante ipsum primis in faucibus. Sed laoreet, urna non
			tristique luctus, elit metus fermentum tortor, in consectetur sapien
			lectus sit amet ex. Pellentesque eu turpis ante. Proin dapibus tellus
			eu molestie interdum.</p>
	</div>
</div>
<div th:replace="header-footer/footer :: myfooter"></div>