<div th:replace="header-footer/header :: myheader"></div>
<div class="contact">
	<div class="card">
		<div class="card-body">
			<h3 class="card-title">CONTACT US</h3>
<div class="card">
  <div class="card-body">
  			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d918.4189391781191!2d91.3406815!3d22.962165499999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x37535d10e62c0d25%3A0x122829ed87d4a0d6!2sNorth%20Alipur%20Patowary%20Bari%20Mosque!5e0!3m2!1sen!2sbd!4v1598890767860!5m2!1sen!2sbd" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  
  </div>
</div>
			<div class="card">
				<div class="card-header"><b>ADDRESS</b></div>
				<div class="card-body">
					<blockquote class="blockquote mb-0">
						<h6>ADDRESS : WARD NO-5, UTTAR ALIPUR</h6>
						<h6>ORIGIN : UTTAR ALIPUR SCHOOL & COLLEGE</h6>
						<h6>DISTRICT: FENI</h6>
						<h6>UNION : DAGONBHUIYAN</h6>
						<h6>POSTAL : 3920</h6>
					</blockquote>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">MD. SHAHJAHAN</h5>
						<hr>
						<h5>TREASURER</h5>
						<h6>PHONE : 01812-455768</h6>
						<h6>EMAIL : shajahan</h6>
						<HR>
						OR
						<HR>

						<p class="card-text">
							<a href="#"><i class="fa fa-facebook"></i></a>&emsp; <a href="#"><i
								class="fa fa-instagram"></i></a>&emsp; <a href="#"><i
								class="fa fa-twitter"></i></a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">MOHAMMED JANE ALAM</h5>
						<hr>
						<h5>MEMBER</h5>
						<h6>PHONE : 01813-367722</h6>
						<h6>EMAIL : janealam15427@gmail.com</h6>
						<HR>
						OR
						<HR>

						<p class="card-text">
							<a href="https://www.facebook.com/jane.alam.14418101"><i class="fa fa-facebook"></i></a>&emsp; <a href="#"><i
								class="fa fa-instagram"></i></a>&emsp; <a href="#"><i
								class="fa fa-twitter"></i></a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div th:replace="header-footer/footer :: myfooter"></div>