<div th:replace="header-footer/header :: myheader"></div>
<div class="contact">
	<div class="card">
		<div class="card-body">
			<h3 class="card-title">CONTACT US</h3>
			<div class="card">
				<div class="card-header"><b>ADDRESS</b></div>
				<div class="card-body">
					<blockquote class="blockquote mb-0">
						<h6>ADDRESS : WARD NO-5, UTTAR ALIPUR</h6>
						<h6>ORIGIN : UTTAR ALIPUR SCHOOL & COLLEGE</h6>
						<h6>DISTRICT: FENI</h6>
						<h6>UNION : DAGONBHUIYAN</h6>
						<h6>POSTAL : 3920</h6>
					</blockquote>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">MD. SHAHJAHAN</h5>
						<hr>
						<h5>TREASURER</h5>
						<h6>PHONE : 01812455768</h6>
						<h6>EMAIL : shajahan</h6>
						<HR>
						OR
						<HR>

						<p class="card-text">
							<a href="#"><i class="fa fa-facebook"></i></a>&emsp; <a href="#"><i
								class="fa fa-instagram"></i></a>&emsp; <a href="#"><i
								class="fa fa-twitter"></i></a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">MOHAMMED JANE ALAM</h5>
						<hr>
						<h5>MEMBER</h5>
						<h6>PHONE : 01813-367722</h6>
						<h6>EMAIL : janealam15427@gmail.com</h6>
						<HR>
						OR
						<HR>

						<p class="card-text">
							<a href="https://www.facebook.com/jane.alam.14418101"><i class="fa fa-facebook"></i></a>&emsp; <a href="#"><i
								class="fa fa-instagram"></i></a>&emsp; <a href="#"><i
								class="fa fa-twitter"></i></a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div th:replace="header-footer/footer :: myfooter"></div>