<div th:replace="header-footer/header :: myheader"></div>
<div class="galleryContainer">
<h3>GALLERY</h3>
<hr>
<div>
<div class="card-group">
  <div class="card">
    <img src="https://res.cloudinary.com/nuist/image/upload/v1598676532/Galleries%20Pic/IMG_20200713_124254222_2_lwm3se.jpg" class="card-img-top" alt="...">
  </div>
  <div class="card">
    <img src="https://res.cloudinary.com/nuist/image/upload/v1598676531/Galleries%20Pic/IMG_20200713_124220342_2_hzps0o.jpg" class="card-img-top" alt="...">
  </div>
  <div class="card">
    <img src="https://res.cloudinary.com/nuist/image/upload/v1598676531/Galleries%20Pic/IMG_20200713_124203787_2_pug70k.jpg" class="card-img-top" alt="...">
  </div>
</div>
</div>
<div>
<div class="card-group">
  <div class="card">
    <img src="https://res.cloudinary.com/nuist/image/upload/v1598676530/Galleries%20Pic/IMG_20200713_124318898_2_epnozr.jpg" class="card-img-top" alt="...">
  </div>
  <div class="card">
    <img src="https://res.cloudinary.com/nuist/image/upload/v1598676530/Galleries%20Pic/IMG_20200713_124242716_2_gbprwb.jpg" class="card-img-top" alt="...">
  </div>
  <div class="card">
    <img src="https://res.cloudinary.com/nuist/image/upload/v1598679910/Galleries%20Pic/IMG_7044_yxls3a.jpg" class="card-img-top" alt="...">
  </div>
</div>
</div>
<div>
<div class="card-group">
  <div class="card">
    <img src="https://res.cloudinary.com/nuist/image/upload/v1598679910/Galleries%20Pic/IMG_7048_xlhres.jpg" class="card-img-top" alt="...">
  </div>
  <div class="card">
    <img src="https://res.cloudinary.com/nuist/image/upload/v1598676535/Galleries%20Pic/Untitled-5_copy_fhpqil.jpg" class="card-img-top" alt="...">
  </div>
  <div class="card">
    <img src="https://res.cloudinary.com/nuist/image/upload/v1598589710/Construction-Webp/three_qyk7hz.webp" class="card-img-top" alt="...">
  </div>
</div>
</div>
</div>
<div th:replace="header-footer/footer :: myfooter"></div>