
<div th:fragment="myfooter">
	<link rel="stylesheet" th:href="@{/css/footer.css}">
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
	<body>
		<footer>
			<div class="footer-top navbar-light bg-light">
				<div class="footer-page">
					<div class="row">
						<div class="col-md-3 col-sm-6 col-xs-12 segment-one">
							<h2>MOHAMMAD SAYS</h2>
							<p>
								<i>"The strongest man is the one who, when he gets angry and
									his face reddens and his hackles rise, is able to defeat his
									anger. (Reported by Imaam Ahmad, 5/367, and classified as hasan
									in Saheeh al-Jaami', 3859)</i>
							</p>


						</div>
						<div class="col-md-3 col-sm-6 col-xs-12 segment-two">
							<h2>ALLAH SAYS</h2>
							<p>
								<i>When I put one of my faithful servants to trial and he
									praises Me despite his trial, he will rise from his bed free of
									sin like the day he was born from his mother. The Almighty Lord
									says: I have confined My servant and put him to trial, so he
									will be rewarded the same as he used to do when he was
									healthy."</i>
							</p>

						</div>

						<div class="col-md-3 col-sm-6 col-xs-12 segment-three">
							<h2>FOLLOW US</h2>
							<p>
								<i>Follow our social media in order to get various
									information. Help us to get donated. Share our website link to
									the social media. Ask them to donate. Your share will help us
									to lead our Mosque efficiently. Social sites of North Alipur
									Central Jame Mosque are given below. Hit them to get connected.<br>
									Thanks </i>
							</p>
							<ul>
								<a href="#"><i style="color: #3b5998;"
									class="fa fa-facebook fa-3x"></i></a>&emsp;
								<a href="#"><i style="color: #3f729b;"
									class="fa fa-instagram fa-3x"></i></a>&emsp;
								<a href="#"><i style="color: #00acee"
									; class="fa fa-twitter fa-3x"></i></a>&emsp;
							</ul>
						</div>
						<div class="col-md-3 col-sm-6 col-xs-12 segment-four">
							<h2>DEVELOPER</h2>
							<p>
								<i>Hei ! It's Majed. The developer of this website. Add me
									on Facebook, Intagram or LinkedIn. Help me by giving some
									information. According to your information I could add valuable
									components that would help me to make a better
									version. </i>
							</p>
							<div class="deleteSocialhref">
								<li><a class="delelehref" style="color: #3b5998;"
									href="https://www.facebook.com/majedabdullah55"><i
										class="fa fa-facebook fa-2x"> </i>&emsp;&nbsp;&nbsp;FACEBOOK</a></li>
								<li><a class="delelehref" style="color: #3f729b;"
									href="https://www.instagram.com/majed_abdullah__.__/"><i
										class="fa fa-instagram fa-2x "> </i>&emsp; INSTAGRAM</a></li>
								<li><a class="delelehref" style="color: #0e76a8;"
									href="https://www.linkedin.com/in/abdulla-al-jaber-5b0a031a9/"><i
										class="fa fa-linkedin fa-2x"> </i>&emsp; LINKEDIN</a></li>
							</div>
						</div>
					</div>
					&emsp;Copyright&copy;2020
				</div>
			</div>
		</footer>
	</body>